@{
    ViewData["Title"] = "Track Visitor";
}
@if (TempData["DbVarification"] == null && TempData["NetVarification"] == null && TempData["trailVerion"] == null)
{
<div class="page" ng-controller="TrackvisitorContrller">
    <partial name="PartialViewHeader" />
    <div class="section-body">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#IN-list">Check-IN List</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#OUT-list">Check-OUT List</a></li>
                </ul>
            </div>
          
        </div>
    </div>

    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="IN-list" role="tabpanel">
                    <div class="row clearfix">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-5 col-md-4 col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" id="filter_id" class="form-control" placeholder="Name, Department, Office">
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-sm-6">
                                                <div class="input-group">
                                                    <input type="date" id="start_date_id" class="form-control" data-provide="datepicker" placeholder="Start Date">
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-sm-6">
                                                <div class="input-group">
                                                    <input type="date" id="end_date_id" class="form-control" data-provide="datepicker" placeholder="End Date">
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-sm-6">
                                                <a ng-click="VisitorSearchFunction('Checkin')" class="btn btn-primary btn-block" title="">Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title"> Check-IN list</h3>
                                        <div class="card-options ">
                                            <a title="Print" tabindex="-1" href="#" onclick="PrintforReport('Product List', '#VCheckInTableID')"><em class="fa fa-xl fa-print">&nbsp;</em></a>
                                            <a title="Excel" tabindex="-1" href="#" id="VCheckINExcelID" onclick="javascript: ExcelFuncntion('#VCheckInTableID', '#VCheckINExcelID', 'Visitor Check-In Sheet.xls');"><em class="fa fa-xl fa-file-excel-o ">&nbsp;</em></a>
                                            @*@if((int)TempData["Product_can_print"] == 1)
                                        {
                                        }
                                        @if ((int)TempData["Product_can_report"] == 1)
                                        {
                                        } *@
                                        </div>
                                    </div>
                                <div class="table-responsive">
                                        <table id="VCheckInTableID" class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                                <th colspan="9">Visitor Check-IN list</th>
                                            </tr>
                                            <tr>
                                                <th class="w30">&nbsp;</th>
                                                <th>Visitor ID</th>
                                                <th>Visitor Name</th>
                                                <th>Host Name</th>
                                                @* <th>Floor No</th> *@
                                                <th>Company</th>
                                                <th>VisitPurpose </th>
                                                <th>Check-In</th>
                                                <th>Check-Out</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="c in VisitorCheckInList">
                                                <td>
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">
                                                        <span class="custom-control-label">&nbsp;</span>
                                                    </label>
                                                </td>
                                                <td><a href="#">{{c.visitorId}}</a></td>
                                                <td><span>{{c.visitorFullName}}</span></td>
                                                <td><span>{{c.hostName}}</span></td>
                                                @* <td><span>{{c.floor_no}}</span></td> *@
                                                <td><span>{{c.company_name}}</span></td>
                                                <td>{{c.visitPurpose}}</td>
                                                <td>{{c.gusetCheckInTime}}</td>
                                                <td>{{c.gusetCheckOutTime}}</td>
                                                   <th ng-if="c.gusetCheckOutTime =='---' "><button class="btn btn-primary" ng-click="visitorcheckout(c.visitorId)">Check Out</button></th>
                                                @* <td><span class="tag tag-danger">{{c.HostName}}</span></td>
                                                <td><span class="tag tag-info">Medium</span></td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="OUT-list" role="tabpanel">
                        <div class="row clearfix">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-5 col-md-4 col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" id="filter_id_out" class="form-control" placeholder="Name, Department, Office">
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-sm-6">
                                                <div class="input-group">
                                                    <input type="date" id="start_date_id_out" class="form-control" data-provide="datepicker" placeholder="Start Date">
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-sm-6">
                                                <div class="input-group">
                                                    <input type="date" id="end_date_id_out" class="form-control" data-provide="datepicker" placeholder="End Date">
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-sm-6">
                                                <a ng-click="VisitorSearchFunction('Checkout')" class="btn btn-primary btn-block" title="">Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title"> Check-Out list</h3>
                                        <div class="card-options ">
                                            <a title="Print" tabindex="-1" href="#" onclick="PrintforReport('Product List', '#VCheckOutTableID')"><em class="fa fa-xl fa-print">&nbsp;</em></a>
                                            <a title="Excel" tabindex="-1" href="#" id="VCheckOUTExcelID" onclick="javascript: ExcelFuncntion('#VCheckOutTableID', '#VCheckOUTExcelID', 'visitor Check-Out Sheet.xls');"><em class="fa fa-xl fa-file-excel-o ">&nbsp;</em></a>
                                            @*@if((int)TempData["Product_can_print"] == 1)
                                        {
                                        }
                                        @if ((int)TempData["Product_can_report"] == 1)
                                        {
                                        } *@
                                        </div>
                                    </div>
                                <div class="table-responsive">
                                        <table id="VCheckOutTableID" class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                                <th colspan="9">Visitor Check-OUT list</th>
                                            </tr>
                                            <tr>
                                                <th class="w30">&nbsp;</th>
                                                <th>Visitor ID</th>
                                                <th>Visitor Name</th>
                                                <th>Host Name</th>
                                                @* <th>Floor No</th> *@
                                                <th>Company </th>
                                                <th>VisitPurpose </th>
                                                <th>Check-In</th>
                                                <th>Check-Out</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="c in VisitorCheckOutList">
                                                <td>
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">
                                                        <span class="custom-control-label">&nbsp;</span>
                                                    </label>
                                                </td>
                                                <td><a href="#">{{c.visitorId}}</a></td>
                                                <td><span>{{c.visitorFullName}}</span></td>
                                                <td><span>{{c.hostName}}</span></td>
                                                @* <td><span>{{c.floor_no}}</span></td> *@
                                                <td><span>{{c.company_name}}</span></td>
                                                <td>{{c.visitPurpose}}</td>
                                                <td>{{c.gusetCheckInTime}}</td>
                                                <td>{{c.gusetCheckOutTime}}</td>
                                                @* <td><span class="tag tag-danger">{{c.HostName}}</span></td>
                                                <td><span class="tag tag-info">Medium</span></td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
}
else
{
@Html.Partial("~/Views/Shared/PartialViewModalsValidation.cshtml")
}
<script src="~/assets/bundles/lib.vendor.bundle.js"></script>
<script src="~/lib/angularjs/angular.min.js"></script>
<script src="~/lib/angularjs/signalr.js"></script>

<script src="~/contollerscript/TrackvisitorContrller.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/lib/angularjs/signalRService.js"></script>
<script src="~/contollerscript/printandexcel.js"></script>
<script src="~/printjquery/printthis.js"></script>